*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Estilização da parte do dispositivo mobile*/
@media(max-width:480px){
    body{
        height: 100vh;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
    }
    /*Estilizando cabecalho da pagina*/
    .header{
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: rgb(255, 235, 199);
        justify-content: space-between;
        border: 1px orange solid;
        position: fixed;
    }
    /*Estilizando o menu */
    .nav{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.397);
        animation: animarMenu 2s ease ;
        display:none ;
        justify-content: flex-end;
        transition-property: block;
        
    }
    /*estilizando menu*/
    .menu{
        height: 100vh;
        width: 70%;
        background-color: orangered;
        display: flex;
        flex-direction: column;
        font-size: 18px;

        
        
    }
    .Cabeçalho-menu{
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: antiquewhite;
        margin-bottom: 20px;
    }
    .menu li{
        margin-right: 10px;
        padding: 10px;
        display: block;
        border-top: 1px #000 solid;
        font-size: 25px;
    }
    .menu li a{
        text-decoration: none;
    }
    .mostrar{
        display: flex;
    }
    #menu-categoria{
        
        
        
    }
    #submenu-categoria,.submenus{
        display: none;
        

    }
    @keyframes animarMenu {
        0%{
            transform: translateX(50%);
        }
         100%{
            transform: translateX(0%);
        }
        
    }
    .conta{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        padding: 0 5px;
        justify-content: flex-end;
    }
    .conta input, #logar{
        display: none;
    }
    #iconMenu, #carrinho{
        margin: 0 10px;
    }
    .conteinnerBanner{
        background-image: url(../public/kinoDelivery.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 98%;
        height: 200px;
        margin: 0px auto;
        margin-top: 88px;
        border:  1px #000 solid;
        display: flex;
    }
    .conteinnerBanner p{
        width: 40%;
        font-size: 30px;
        font-family: Helvetica;
        margin: 5px 5px;
        justify-content: space-between;

    }
    .redes{
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
       padding: 10px;
    }
    
    .logoRedes{
        margin: auto 0;
        

    }
    /*estilo da categoria*/
    .categorias{
        display: flex;
        flex-direction: column;
    }
    .categorias header{
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }
    .categorias header a{
        text-decoration: none;
    }
    /*estilo de produtos que vao estar na categorias*/
    .sessao{
        height: 100px;
        overflow: scroll;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        margin: 0 5px;
        
    }
    /*estilo da div pra do chef*/
    .pratos-chef{
        flex-wrap: wrap;
        border-top: 1px orange solid;
        padding: 10px;
    }
    /*cabecalho do pratos dos chef*/
    .pratos-chef header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        height: 50px;
    }
    .pratos-chef nav ul{
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    .pratos-chef nav ul li{
       margin: 5px;
    }
    .pratos-chef nav ul li a{
        text-decoration: none;
       
    }
    /* fim da estlizacao do menu prato do chef*/

}